<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="A stat visualizer for crimes in Chicago based on Flask and Oracle">
  <meta name="author" content="Group 26">

  <title>Chicago Crime</title>

  <!-- Custom fonts for this template-->
  <link href="{{url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{url_for('static', filename='css/sb-admin-2.min.css')}}" rel="stylesheet">

  <!-- Page level plugins -->
  <script src="{{url_for('static', filename='vendor/chart.js/Chart.js')}}"></script>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{url_for('index')}}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-bell"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Crime Board</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('index')}}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>About</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Functions
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link collapsed" href="{{url_for('insight')}}">
          <i class="fas fa-lightbulb"></i>
          <span>Insight</span>
        </a>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('trends')}}">
          <i class="fas fa-poll"></i>
          <span>Trends</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('compare')}}">
          <i class="fas fa-less-than-equal"></i>
          <span>Compare</span>
        </a>
      </li>
      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Insight</h1>
            </div>

          <!-- Content Row -->
          <div class="row">
            <!-- Content Column -->
            <div class="col-lg mb-4">
              <!-- Approach -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Total Crime</h6>
                </div>
                <div class="card-body">
                  <canvas id="myBarChart"></canvas>
                  <script type="text/javascript">
                    var ctxD = document.getElementById("myBarChart");

                    var dataBar = {
                      datasets: [{
                        data: {{ yers }},
                        backgroundColor: ["#e6194b", "#f58231", "#ffe119", "#bcf60c","#3cb44b"],
                        label: 'Data'
                      }],
                      labels: ['2001-2005', '2006-2010', '2011-2015', '2016-2019'],
                    };

                    var donut = new Chart(ctxD, {
                      type: 'bar',
                      data: dataBar,
                      options: {
                        responsive: true,
                        legend: {
                          display: false
                        },
                        scales: {
                          yAxes: [
                            {
                              scaleLabel: {
                                display: true,
                                labelString: 'Crimes'
                              }
                            }
                          ],
                          xAxes: [
                            {
                              scaleLabel: {
                                display: false,
                                labelString: 'Years'
                              }
                            }
                          ]
                        }
                      }
                    });
                  </script>
                  <hr>
                </div>
              </div>
            </div>
            <!-- Content Column -->
            <div class="col-lg mb-4">
              <!-- Approach -->
              <!-- Pie Chart -->
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Distribution of Crime</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <canvas id="myPieChart"></canvas>
                  <script type="text/javascript">
                    var ctxD = document.getElementById("myPieChart");

                    var dataDonut = {
                      datasets: [{
                        data: {{ perc }},
                        backgroundColor: ["#e6194b", "#f58231", "##ffe119", "#bcf60c",
                                          "#3cb44b", "#008080", "#4363d8", "#000000",
                                          "#808080", "#911eb4", "#f032e6", "#aaffc3",
                                          "#800000", "#fabebe", "#ffd8b1", "#000075",]
                      }],
                      labels: ['Deceptive Practice', 'Narcotics', 'Burglary', 'Criminal Damage', 'Kidnapping', 'Prostitution', 'Human Trafficking', 'Robbery', 'Criminal Sexual Assault', 'Assault', 'Battery Homicide', 'Motor Vehicle Theft', 'Theft', 'Offense Involving Children', 'Weapons Violation']
                    };

                    var donut = new Chart(ctxD, {
                      type: 'pie',
                      data: dataDonut,
                      options: {
                        responsive: true,
                        legend: {
                          display: true
                        }
                      }
                    });
                  </script>
                  <hr>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- Content Column -->
            <div class="col-lg mb-4">
              <!-- Approach -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Wards that got safer over the decade</h6>
                </div>
                <div class="card-body">
                  {% for x in wards %}
                    <b>Ward {{ x[0] }}:</b> <i>{{ x[1] }}</i> <br>
                  {% endfor %}
                  <hr>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Group 26 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{url_for('static', filename='js/sb-admin-2.min.js')}}"></script>

  <!-- Page level custom scripts -->
  <!-- <script src="{{url_for('static', filename='js/demo/chart-area-demo.js')}}"></script>
  <script src="{{url_for('static', filename='js/demo/chart-pie-demo.js')}}"></script> -->

</body>

</html>
